#buttons-bar {
  margin: 0px auto;
}

#buttons-bar * {
  margin: 15px;
}

.container {
  margin-top: 7vh
}

#joined-list {
  margin-top: 25px;
}

#delete-row-btn {
  margin-right: 5px;
}

.num-input {
  width: 75px
}

.r-section {
  padding-top: 10px;
}

.r-container {
  padding: 15px;
  padding: 15px;
}

.custom-control-label {
  margin: 0 auto;
}

#error-alert {
  visibility: hidden;
}